/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1,h3 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

h3 {
  font-size:1.5em
 }

.serverResponseLabelError {
  color: red;
}

.gwt-Label {
  width: 100px;
  margin: 25px;
  display: inline;
}

#log_panel {
  display: block;
  margin: 0 auto 0 auto;
  width: 700px;
  height: 500px;
  border: 2px solid #AAA !important;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.blog_panel {
  text-align: center;
}

.log_panel {
  margin: 50px 0 0 15px;
}

.gwt-RichTextArea {
  display: block;
  margin: 0 auto 0 auto;
  width: 700px;
  height: 500px;
  border: 2px solid #AAA !important;
  border-radius: 10px;
}

.button_panel {
  width: 700px;
  display: block;
  margin: 0 auto 0 auto;
  text-align: right;
}

#status_msg {
  text-align: center;
  font-size: 150%;
  font-style: italic;
  color: #AAA;
}